input::placeholder {
  color: white;
  font-size: 12px;
  font-weight: 100;
}

.form {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background: #3485a9;
  color: #fff;
}
.form h1 {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}
.form p {
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
}
form {
  width: 90%;
  margin: 0 auto;
}
form .input1 {
  display: flex;
  max-width: 450px;
  gap: 7px;
  text-align: left;
  margin: 20px auto;
}
form .input1 input {
  width: 100%;
  padding: 7px;
  margin: 0 auto;
  background-color: #3485a9;
  border: 2px solid #25799d;
  border-radius: 5px;
}
form .hospital-wrap {
  max-width: 450px;
  text-align: left;
  margin: 20px auto;
}

form .hospital {
  display: block;
  width: 100%;
  padding: 7px;
  max-width: 450px;
  margin: 0 auto;
  background-color: #3485a9;
  border: 2px solid #25799d;
  border-radius: 5px;
}
form button {
  width: 60%;
  max-width: 200px;
  background: #ffffff;
  color: #917fef;
  padding: 5px;
  margin: 30px auto;
  border: none;
  border-radius: 10px;
}
