.nav-wrap {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  position: fixed;
}

.lnavcon {
  display: flex;
  align-items: center;
}
.lnavlinks {
  text-decoration: none;
}

.hamburger {
  padding: 5px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
}
.hamburger span {
  background-color: white;
  padding: 2px 20px;
  border-radius: 10px;
}
@media (min-width: 990px) {
  .navbar-nav {
    margin-left: 50%;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .navbar-nav {
    margin-left: 50%;
    gap: 20px;
  }
}
