.section2 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.section2-wrap1 {
  width: 90%;
  margin: 0 auto;
}
.section2-text1 {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  max-width: 450px;
}
.section2-img1 {
  width: 40%;
  margin: 0 auto;
}
.section2-img1 img {
  width: 90%;
  max-width: 300px;
}
@media (min-width: 990px) {
  .section2-wrap1 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
    gap: 90px;
  }
}

.section2-wrap2 {
  width: 90%;
  margin: 0 auto;
}
.section2-text2 {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  max-width: 450px;
}
.section2-img2 {
  width: 40%;
  margin: 0 auto;
}
.section2-img2 img {
  width: 90%;
  max-width: 300px;
}
@media (min-width: 990px) {
  .section2-wrap2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
    gap: 90px;
  }
}
