@media (max-width: 600px) {
  .footer1 {
    background-color: black;
    color: white;
  }
}
.footer-div div {
  padding: 0;
}
.footer-div{
  background-color: #FFF6F6;
  text-align: left;
}
.foot-outer{
  background-color: #FFF6F6;

}